<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Administrator room</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
</head>
<body>

    <div th:insert="~{common :: commonHeader}"></div>

    <div class="container">
        <div class="admin_menu">
            <button class="logging_room_enter"
                    type="button">
                <a class="logging_room_enter_href"
                   th:href="@{/admin/logs}">Show site logging</a>
            </button>
        </div>
    </div>

    <div th:insert="~{common :: commonFooter}"></div>

</body>
</html>