<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Site log</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/logs.css}" type="text/css">
</head>
<body>

    <div th:insert="~{common :: commonHeader}"></div>

    <script defer src="/js/containerResize.js" type="text/javascript"></script>
    <div class="container" id="specificContainer">
        <div class="logs_inner">
            <form class="logs_params"
                  method="GET"
                  th:action="@{/admin/logs}">
                <div class="logs_params_field">
                    <div class="logs_users_section">
                        <label class="logs_users_section_id">User ID:
                            <input class="logs_users_section_id_input"
                                   type="text"
                                   th:name="id" />
                        </label>
                        <label class="logs_users_section_nick">User nickname:
                            <input class="logs_users_section_nick_input"
                                   type="text"
                                   th:name="nickname" />
                        </label>
                        <div class="logs_users_section_remark">
                            Leave both fields empty to see all users
                            or choose one of them to see the specific one
                        </div>
                    </div>
                    <div class="logs_dates_section">
                        <label class="logs_dates_section_from">From:
                            <input class="logs_dates_section_from_input"
                                   type="datetime-local"
                                   th:name="from" />
                        </label>
                        <label class="logs_dates_section_till">Till:
                            <input class="logs_dates_section_till_input"
                                   type="datetime-local"
                                   th:name="till" />
                        </label>
                        <div class="logs_dates_section_remark">
                            Leave one field empty to see the period from start/till now
                            or both ones to see the whole period
                        </div>
                    </div>
                </div>
                <div class="logs_params_bottom">
                    <div class="logs_error"
                         th:unless="${invalidTimestampGap == null}"
                         th:text="${invalidTimestampGap}">
                    </div>
                    <input class="logs_submit"
                           type="submit"
                           value="Show logs" />
                </div>
            </form>
            <table class="logs_list">
                <thead>
                    <tr class="table_head">
                        <th class="table_cell_id">Log ID</th>
                        <th class="table_cell_nick">Nickname</th>
                        <th class="table_cell_auth">Authority</th>
                        <th class="table_cell_timestamp">Timestamp</th>
                        <th class="table_cell_action">Action</th>
                        <th class="table_cell_description">Description</th>
                    </tr>
                </thead>
                <tbody th:each="log : ${logs}">
                    <tr class="table_row">
                        <td class="table_cell_id"
                            th:text="${log.getId()}"></td>
                        <td class="table_cell_nick"
                            th:text="${log.getUser().getNickname()}"></td>
                        <td class="table_cell_auth"
                            th:text="${log.getUser().getAuthority().getCodename()}"></td>
                        <td class="table_cell_timestamp"
                            th:text="${log.getTimestamp()}"></td>
                        <td class="table_cell_action"
                            th:text="${log.getActionName()}"></td>
                        <td class="table_cell_description"
                            th:text="${log.getActionDescription()}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:insert="~{common :: commonFooter}"></div>

</body>
</html>