.login_form {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
}

.login_form_error {
    height: 20%;
}

.login_form_label {
    margin: 1% 0;
}

.login_form_input {
    font-family: cursive;
    border-radius: 8px;
    padding: 0 1.5%;
}

.login_form_submit {
    width: 75%;
    height: 100%;
    margin-top: 2%;
    align-self: center;
    border: solid 1px #ffffff;
    border-radius: 7px;
    background-color: #000000;
    font-family: cursive;
    font-size: 1.1vw;
    color: #ffffff;
    cursor: pointer;
}