<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div th:insert="common :: commonHeader"></div>

    <div class="container">
        <div class="chat_menu">
            <input class="chat_room1_enter"
                   type="button"
                   value="Room 1"
                   disabled>
            <input class="chat_room2_enter"
                   type="button"
                   value="Room 2"
                   disabled>
            <input class="admin_room_enter"
                   type="button"
                   value="Site configuration"
                   disabled>
        </div>
    </div>

    <div th:insert="common :: commonFooter"></div>
</body>
</html>