<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title th:text="${roomId}"></title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/rooms.css}" type="text/css">
</head>
<body>

    <div th:insert="~{common :: commonHeader}"></div>

    <script defer src="/js/containerResize.js" type="text/javascript"></script>
    <div class="container" id="specificContainer">
        <div class="chat_room">
            <table class="chat_room_table">
                <tbody th:each="message : ${messages}">
                    <tr class="chat_message">
                        <td class="chat_message_info"
                            th:text="${message.getUser().getNickname() +
                                '\n' + message.getTimestamp()}"></td>
                        <td class="chat_message_text"
                            th:text="${message.getMessage()}"></td>
                    </tr>
                </tbody>
            </table>
            <form class="chat_room_send_field"
                  id="chatNewMessageField"
                  th:method="post"
                  th:action="@{/chats/${roomId}}"
                  th:object="${room}">
                <textarea class="chat_text_field"
                          placeholder="Print a message"
                          th:field="*{message}"
                          form="chatNewMessageField"></textarea>
                <input class="chat_send_message_button"
                       type="submit"
                       value="Send message">
            </form>
            <div class="chat_room_next_page"></div>
        </div>
    </div>

    <div th:insert="~{common :: commonFooter}"></div>

</body>
</html>